<div class="intro-layer" id="introLayer" aria-hidden="true">
  <div class="intro-glow"></div>
  <div class="intro-mark">
    <img src="/intro-logo.svg" alt="Dreammade Logo" class="intro-logo" />
    <span class="intro-dot"></span>
  </div>
  <div class="intro-wipe"></div>
</div>
